body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #393;
}

button {
    margin-top: 20px;
}

#fileContents {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
